@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding:0;
    margin:0 auto;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
}
li{
margin:10px 16px;
padding-left:24px;
    
}
.T__logo{
    position:relative;
    margin:20px 100px;
    height:70px;
    width:50px;
}
.login__anchor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    padding: 0 4px;
}
.Sign__up--btn{
    position:relative;
    color:white;
    background-color: purple;
    padding: 8px 20px;
    border-radius: 24px;
}
.login__anchor--wrapper{
    position:relative;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
/*template layo*/
h1{

    position:relative;
    width:400px;
    margin:150px 100px;
    bottom:100px;
    
}
.desk__img{
    height:500px;
    margin-right:200px;

}
.row2{
    top:70px;
    width:40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.purple{
    color:purple;
}
header{
    display: flex;
}
.template__para{
    width:400px;
    position:absolute;
    margin:200px 100px;
}
.template__para--wrapper{
    display: flex;
    flex-direction: column;
    height:500px;
    margin:12px;
}
.Trusted{
    position:absolute;
    margin: 350px 100px;
    color:rgb(88, 147, 147);
    font-weight: bold;
}
.Trusted__img{
    position:relative;
    height:30px;
    width:350px;
    opacity:0.5;
    margin-right:50px;
}
.Trusted__Customer--img{
    height:40px;
    width:500px;
}
.Features__Header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:40%;
}
.Features__Headline{
    margin-left:42%;
}
.Container{
    padding:80px 0;
}
.Container__row{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}
.Secure__para{
    position:absolute;
    width:400px;
}
.Features__headline--para{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0 200px;
width: 800px;
}
.Secure{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 300px;
}
